<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mtlaptop.vellonera">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="Vellonera Prueba"
        android:theme="@style/AppTheme">
        <!--android:icon="@string/app_icon"-->

        <activity android:name=".activities.ActivityDisplaySongs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ActivityCurrentSong" />

        <service android:name=".services.MusicService">
            <intent-filter>
                <action android:name="com.example.mtlaptopvellonerap.STOP" />
                <action android:name="com.example.mtlaptop.vellonera.NEXT" />
                <action android:name="com.example.mtlaptop.vellonera.PREVIOUS" />
                <action android:name="com.example.mtlaptop.vellonera.PAUSE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>
